body{
    background:lightseagreen;
}
.fondbleu{
    background: lightcoral;
}
.fondolive{
    background:rgb(214, 103, 214);
}
.fondblanc{
    background: white;
}
.fondviolet{
    background: rgb(124, 53, 124);
}